*{
 
box-sizing: border-box;
}
body{
background:Url(images/doctor1.jpg) no-repeat center fixed;
background-size: cover; margin:10px 20px; border:10px;
}
header {
background-color: #63aad3; color: #fff;
padding: 20px 20px; text-align: center;
}
header h1 {
margin: 20px 0; font-size: 24px;
}


.navbar {
background-color: #1a1a1a; display: flex;
justify-content: center; padding: 15px 0;
}

.navbar ul {
list-style: none; margin: 0;
padding: 0; display: flex;
}

.navbar li {
margin: 0 20px;
}

.navbar a {
text-decoration: none; color: #fff;
font-weight: bold; font-size: 18px; display: flex; align-items: center;
transition: color 0.3s ease;
}


.navbar a:hover { color: #ffd700;
}


.navbar i {
 
margin-right: 10px;
}


.navbar li.active a { color: #ffd700;
border-bottom: 2px solid #ffd700;
}

.wrapper{
background-color: #fff; width: 500px;
padding: 25px; margin: 25px auto 0;
box-shadow: 0px 0px 20px rgba(0,0,0,0.5); border-radius: 10px;
float:left;
}
.wrapper h2{
background-color: #fcfcfc; color:#21cdd3;
font-size: 24px; padding:10px; margin-bottom: 8px; text-align: center;
border:1px dashed #21cdd3;
}
.wrapper h4{
padding-bottom: 8px; color:#21cdd3;
}
.input_group{
margin-bottom: 8px; width:100%; position: relative; display:flex;
flex-direction: row; padding:5px 0;
}
.input_box{
width:100%;
margin-right: 12px; position: relative;
}
.input_box:last-child{ margin-right: 0;
}
.input_box .name{
padding:14px 10px 14px 50px; width:100%;
background-color: #fcfcfc; outline:none;
letter-spacing: 1px; transition: 0.3s; border-radius: 3px; color:#333;
 
}
.input_box .name:focus, .dov:focus{
-webkit-box-shadow:0 0 2px 1px #21cdd3;
-moz-box-shadow:0 0 2px 1px #21cdd3; box-shadow: 0 0 2px 1px #21cdd3; border:1px solid #21cdd3;
}
.input_box .icon{ width:48px; display:flex;
justify-content: center; align-items:center; position:absolute; left:0px;
bottom:0px; top:0px; color:#333;
background-color: #f1f1f1; border-radius: 2px 0 0 2px; transition:0.3s;
font-size: 20px; pointer-events: none;
border:1px solid #00000003; border-right: none;
}
.name:focus+.icon{
background-color: #21cdd3; color:#fff;
border: 1px solid #21cdd3; border:none; transition:1s;
}
.dob{
width:30%; padding:14px;
text-align: center; background-color: #fcfcfc; transition:0.3s; outline:none;
border:1px solid #c0bfbf; border-right: 3px;
}
.radio{
display: none;
}
.input_box label{ width:50%; padding:13px;
background-color: #fcfcfc; display:inline-block;
text-align: center; border:1px solid #c0bfbf;
}
.input_box label:first-of-type{ border-top-left-radius: 3px;}
 
 
